* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: rgba(247, 234, 234, 0.381);
}

.container {
  background-color: white;
  margin: 8rem auto;
  max-width: 600px;
  height: 500px;
  grid-auto-rows: auto;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

#title {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.164);
}

.input-container {
  display: flex;
  position: relative;
}

#icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 50%;
  bottom: 50%;
  cursor: pointer;
}

i {
  opacity: 50%;
}

#input-item {
  width: 100%;
  padding: 1.375rem;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.164);
  color: gray;
}

::placeholder {
  font-size: 1rem;
  border: none;
  font-style: oblique;
  opacity: 50%;
  outline: none;
}

.todo-list {
  list-style: none;
}

.todo-list li {
  list-style: none;
  color: black;
  font-size: 1.125rem;
  display: flex;
  gap: 1.25rem;
  padding: 1.25rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.164);
}

.todo-list li i {
  margin-left: auto;
}

#btn-clear {
  border: none;
  width: 100%;
  padding: 1.25rem;
  color: rgba(128, 128, 128, 0.622);
  cursor: pointer;
  font-size: 1rem;
}
